n8n-workflows/tools_reschedule_booking.json
{
    "name": "tools_reschedule_booking",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "tools/reschedule_booking",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "reschedule-booking"
        },
        {
            "parameters": {
                "jsCode": "// Extract input + DYNAMIC TENANT\nconst webhookData = $input.first().json;\nconst input = webhookData.body;\n\nconst getTenantId = () => {\n  if (input?.tenant_id) return input.tenant_id;\n  if (webhookData.headers?.['x-tenant-id']) return webhookData.headers['x-tenant-id'];\n  if (webhookData.query?.tenant_id) return webhookData.query.tenant_id;\n  throw new Error('tenant_id is required');\n};\nconst tenantId = getTenantId();\n\nconst bookingId = input.booking_id;\nconst newStartAt = input.newStartAt || input.new_start_at;\n\nif (!bookingId) {\n  throw new Error('booking_id is required');\n}\nif (!newStartAt) {\n  throw new Error('newStartAt is required');\n}\n\nreturn { json: { bookingId, newStartAt, tenantId } };"
            },
            "id": "parse-input",
            "name": "Parse Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://sjzxgjimbcoqsylrglkm.supabase.co/rest/v1/bookings",
                "authentication": "none",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "=eq.{{ $json.bookingId }}"
                        },
                        {
                            "name": "tenant_id",
                            "value": "=eq.{{ $json.tenantId }}"
                        },
                        {
                            "name": "select",
                            "value": "id,client_id,stylist_id,service_id,status,start_at,end_at"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-booking",
            "name": "Get Booking",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "booking-exists",
                            "leftValue": "={{ $input.all().length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-booking-exists",
            "name": "Booking Exists?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Calculate new end time based on existing booking duration\nconst bookingData = $('Get Booking').first().json;\nconst booking = Array.isArray(bookingData) ? bookingData[0] : bookingData;\nconst parseInput = $('Parse Input').first().json;\n\nconst newStartAt = parseInput.newStartAt;\n\n// Calculate duration from existing booking's start/end times\nlet totalDurationMin = 60; // Default 1 hour\nif (booking.start_at && booking.end_at) {\n  const origStart = new Date(booking.start_at);\n  const origEnd = new Date(booking.end_at);\n  totalDurationMin = Math.round((origEnd - origStart) / 60000);\n}\n\n// Calculate new end time\nconst startDate = new Date(newStartAt);\nconst endDate = new Date(startDate.getTime() + totalDurationMin * 60 * 1000);\nconst newEndAt = endDate.toISOString();\n\nreturn {\n  json: {\n    bookingId: booking.id,\n    staffId: booking.stylist_id,\n    newStartAt,\n    newEndAt,\n    totalDurationMin,\n    client: booking.clients\n  }\n};"
            },
            "id": "calculate-new-times",
            "name": "Calculate New Times",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                -100
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://sjzxgjimbcoqsylrglkm.supabase.co/rest/v1/bookings?id=eq.{{ $json.bookingId }}&tenant_id=eq.{{ $('Parse Input').item.json.tenantId }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "start_at",
                            "value": "={{ $json.newStartAt }}"
                        },
                        {
                            "name": "end_at",
                            "value": "={{ $json.newEndAt }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "update-booking",
            "name": "Update Booking Times",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1100,
                -100
            ]
        },
        {
            "parameters": {
                "jsCode": "// Success response\nconst calcData = $('Calculate New Times').first().json;\n\nreturn {\n  json: {\n    ok: true,\n    booking_id: calcData.bookingId,\n    new_start_at: calcData.newStartAt,\n    new_end_at: calcData.newEndAt,\n    client_name: calcData.client?.full_name,\n    client_phone: calcData.client?.phone,\n    client_email: calcData.client?.email,\n    message: 'Booking rescheduled successfully'\n  }\n};"
            },
            "id": "success-response",
            "name": "Success Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1320,
                -100
            ]
        },
        {
            "parameters": {
                "jsCode": "// Booking not found\nreturn {\n  json: {\n    ok: false,\n    error: 'Booking not found',\n    booking_id: $('Parse Input').first().json.bookingId\n  }\n};"
            },
            "id": "not-found-response",
            "name": "Not Found Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                100
            ]
        },
        {
            "parameters": {
                "mode": "append",
                "options": {}
            },
            "id": "merge-response",
            "name": "Merge Response",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1540,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1760,
                0
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Input": {
            "main": [
                [
                    {
                        "node": "Get Booking",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Booking": {
            "main": [
                [
                    {
                        "node": "Booking Exists?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Booking Exists?": {
            "main": [
                [
                    {
                        "node": "Calculate New Times",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Not Found Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate New Times": {
            "main": [
                [
                    {
                        "node": "Update Booking Times",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Booking Times": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Success Response": {
            "main": [
                [
                    {
                        "node": "Merge Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Not Found Response": {
            "main": [
                [
                    {
                        "node": "Merge Response",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-27T05:00:00.000Z",
    "versionId": "1"
}