n8n-workflows/tools_add_to_waitlist.json
{
    "name": "tools_add_to_waitlist",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "tools/add_to_waitlist",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "add-to-waitlist"
        },
        {
            "parameters": {
                "jsCode": "const webhookData = $input.first().json;\nconst input = webhookData.body;\n\n// ========== DYNAMIC TENANT ID EXTRACTION (SaaS) ==========\nconst getTenantId = () => {\n  if (input?.tenant_id) return input.tenant_id;\n  if (webhookData.headers?.['x-tenant-id']) return webhookData.headers['x-tenant-id'];\n  if (webhookData.query?.tenant_id) return webhookData.query.tenant_id;\n  throw new Error('tenant_id is required'); // fallback\n};\nconst tenantId = getTenantId();\n\n// Required fields\nconst clientName = input.client_name;\nconst clientPhone = input.client_phone;\nconst clientEmail = input.client_email || null;\nconst serviceIds = input.service_ids || [];\nconst preferredDate = input.preferred_date; // YYYY-MM-DD\nconst preferredTimeWindow = input.preferred_time_window || 'anytime'; // morning, afternoon, evening, anytime\nconst preferredStaffId = input.preferred_staff_id || null;\nconst notes = input.notes || null;\n\n// Calculate expiry (7 days from now)\nconst expiresAt = new Date();\nexpiresAt.setDate(expiresAt.getDate() + 7);\n\n// Map time window to times\nlet timeStart = null;\nlet timeEnd = null;\nif (preferredTimeWindow === 'morning') {\n  timeStart = '09:00:00';\n  timeEnd = '12:00:00';\n} else if (preferredTimeWindow === 'afternoon') {\n  timeStart = '12:00:00';\n  timeEnd = '17:00:00';\n} else if (preferredTimeWindow === 'evening') {\n  timeStart = '17:00:00';\n  timeEnd = '21:00:00';\n}\n\nreturn {\n  json: {\n    tenantId,\n    clientName,\n    clientPhone,\n    clientEmail,\n    serviceIds,\n    preferredDate,\n    preferredTimeStart: timeStart,\n    preferredTimeEnd: timeEnd,\n    preferredStaffId,\n    expiresAt: expiresAt.toISOString(),\n    notes,\n    serviceIdsPostgres: `{${serviceIds.map(id => `\"${id}\"`).join(',')}}`\n  }\n};"
            },
            "id": "parse-input",
            "name": "Parse Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://sjzxgjimbcoqsylrglkm.supabase.co/rest/v1/waitlist",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "tenant_id",
                            "value": "={{ $json.tenantId }}"
                        },
                        {
                            "name": "client_name",
                            "value": "={{ $json.clientName }}"
                        },
                        {
                            "name": "client_phone",
                            "value": "={{ $json.clientPhone }}"
                        },
                        {
                            "name": "client_email",
                            "value": "={{ $json.clientEmail }}"
                        },
                        {
                            "name": "service_ids",
                            "value": "={{ $json.serviceIdsPostgres }}"
                        },
                        {
                            "name": "preferred_date",
                            "value": "={{ $json.preferredDate }}"
                        },
                        {
                            "name": "preferred_time_start",
                            "value": "={{ $json.preferredTimeStart }}"
                        },
                        {
                            "name": "preferred_time_end",
                            "value": "={{ $json.preferredTimeEnd }}"
                        },
                        {
                            "name": "status",
                            "value": "waiting"
                        },
                        {
                            "name": "expires_at",
                            "value": "={{ $json.expiresAt }}"
                        },
                        {
                            "name": "notes",
                            "value": "={{ $json.notes }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-waitlist-entry",
            "name": "Create Waitlist Entry",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const entry = $input.first().json;\nconst entryArray = Array.isArray(entry) ? entry : [entry];\nconst created = entryArray[0];\n\nreturn {\n  json: {\n    ok: true,\n    message: 'Added to waitlist! We\\'ll notify you by SMS/email if a slot opens up.',\n    waitlist_id: created?.id,\n    preferred_date: created?.preferred_date,\n    expires_at: created?.expires_at\n  }\n};"
            },
            "id": "prepare-response",
            "name": "Prepare Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                0
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Input": {
            "main": [
                [
                    {
                        "node": "Create Waitlist Entry",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Waitlist Entry": {
            "main": [
                [
                    {
                        "node": "Prepare Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-27T09:10:00.000Z",
    "versionId": "1"
}